name: Build
on:
  push:
    branches:
      - "*"

jobs:
  build:
    name: Build JAR
    runs-on: ubuntu-latest
    steps:
      - name: Remove tag prefix
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Set pom.xml version for this build
        run: mvn -B versions:set -DnewVersion=$VERSION -DgenerateBackupPoms=false
      - name: Build jar
        run: mvn -B clean package